@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* border: 1px solid red; */
}
body{
    font-family: 'Work Sans', sans-serif;
}
p{
    color: #555;
    font-size: 1rem;
    line-height: 1.6rem;
}
.primary-color{
    color: #FF900E;
}
.secondary-color{
    color: rgba(114, 114, 114, 1);
}
.header{
    background: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.banner-title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 2rem;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 500;
}
.contain{
    height: 100vh;
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.container{
    max-width: 1260px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* border: 1px solid rgb(255, 21, 0); */
}
.banner-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.col-1{
    text-align: center;
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 20px;
}
.col-1 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 img{
    max-width: 100%;
}
.banner-info{
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 700;
}
.btn{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4rem;
    background: #FF900E;
    color: #fff;
    padding: 1.1rem 1.2rem;
    margin-top: 2rem;
    border-radius: 5px;
    transition: all linear0.5s;
}

/* ======== features product ============= */
.features{
    margin-top: 5rem;
    margin-bottom: 3rem;
    border: 1px solid red;
    /* background: gray; */
}
.title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 2rem;
    /* border: 1px solid limegreen; */
}
.features-img-container{
    /* border: 1px solid gold; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
    margin-right: 2rem;
}
.features-img-container img{
    width: 100%;
}

/* ======== features you love  ============= */
.love-features{
    position: relative;
}
.fancy-title{
    /* text-align: center; */
    padding-left: 1rem;
    position: relative;
    line-height: 65px;
}
.fancy-title::before{
    position: absolute;
    content: '';
    background: #ff523b;
    width: 5px;
    height: 90%;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
}
.features-info{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.5rem;
    border: 1px solid red;
    margin-top: 2rem;
    margin-right: 1.5rem;
}
.single-features{
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.feature-info h4{
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.exp{
    position: absolute;
    left: 50%;
    bottom: -3rem;
    display: inline-block;
    background: #FF900E;
    padding: 2.2rem 2.5rem;
    color: white;
    border-radius: 4px;
}
.exp h2{
    font-size: 3rem;
    font-weight: 700;
}
.exp p{
    font-size: 1rem;
    margin-top: .4rem;
    color: white;
    text-align: center;
}