@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* border: 1px solid red; */
}
body{
    font-family: 'Work Sans', sans-serif;
}
p{
    color: #555;
    font-size: 1rem;
    line-height: 1.6rem;
}
.primary-color{
    color: #FF900E;
}
.secondary-color{
    color: rgba(114, 114, 114, 1);
}
.header{
    background: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.banner-title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 2rem;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 500;
}
/* .contain{
    height: 100vh;
    display: flex;
    align-items: center;
    border: 1px solid red;
} */

.container{
    max-width: 1260px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    /* border: 1px solid rgb(255, 21, 0); */
} 
.banner-row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
}
.col-1{
    text-align: center;
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 20px;
}
.col-1 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 img{
    max-width: 100%;
}
.banner-info{
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 700;
}
.btn{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4rem;
    background: #FF900E;
    color: #fff;
    padding: 1.1rem 1.2rem;
    margin-top: 2rem;
    border-radius: 5px;
    transition: all linear0.5s;
}

/* ======== features product ============= */
.features{
    padding: 3rem 0;
    margin-top: 5rem;
    margin-bottom: 3rem;
    /* border: 1px solid red; */
    /* background: gray; */
}
.title{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    padding-left: 2rem;
}
.features-img-container{
    /* border: 1px solid gold; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
    margin-right: 2rem;
}
.features-img-container img{
    width: 100%;
}

/* ======== features you love  ============= */
.love-features{
    position: relative;
}
.fancy-title{
    /* text-align: center; */
    padding-left: 1rem;
    position: relative;
    line-height: 65px;
}
.fancy-title::before{
    position: absolute;
    content: '';
    background: #ff523b;
    width: 5px;
    height: 90%;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
}
.features-info{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.5rem;
    /* border: 1px solid red; */
    margin-top: 2rem;
    margin-right: 1.5rem;
}
.single-features{
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all ease 0.3s;
}
.single-features:hover{
    transform: scale(1.05);
}
.feature-info h4{
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.exp{
    position: absolute;
    left: 50%;
    bottom: -3rem;
    display: inline-block;
    background: #FF900E;
    padding: 2.2rem 2.5rem;
    color: white;
    border-radius: 4px;
}
.exp h2{
    font-size: 3rem;
    font-weight: 700;
}
.exp p{
    font-size: 1rem;
    margin-top: .4rem;
    color: white;
    text-align: center;
}

/* =========== some fact part ============ */
.some-fact{
    /* background: #fdf9ff; */
    margin-top: 10rem;
}
.fact-title{
    text-align: left;
    padding-left: 2rem;
}
/* .container{
    border: 1px solid lime;
} */
.col-4{
    flex-basis: 25%;
    margin-bottom: 3rem;
    text-align: center;
}
.fact-logo-item{
    border: 1px solid gold;
    padding: 2.5rem 0;
    margin: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.103);
    border-radius: 3px;
    transition: all ease 0.4s;
}
.fact-logo-item:hover{
    background: #FF900E;
    color: #fff;
    transform: scale(1.1);
}
.fact-logo-item h4{
    font-size: 2.6rem;
    line-height: 3rem;
    margin: 1rem 0 .5rem;
}
.fact-logo-item p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
}
.fact-logo-item .icon img{
    /* background: red; */
    height: 2.6rem;
    width: 2.6rem;
    line-height: 4rem;
   
}


/* ============== call to action ============= */
.ctn{
    padding-top: 8rem;
    margin: 0 auto ;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)),url(../images/banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 6rem 0;
}
.ctn h1{
    font-size: 2.4rem;
    line-height: 3.5rem;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0;
}

/* =========== sponsor section ============ */
.sponser-brand{
    margin: 5rem 0;
}
.details-info{
    text-align: center;
}

.brnad-logos{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   padding: 3rem;
    /* border: 1px solid blue; */
}
.brnad-logos img{
    display: inline-block;
    /* flex-basis: 15%; */
    padding: .5rem 1rem;
    cursor: pointer;
    filter: grayscale(100%);
}
.brnad-logos img:hover{
    filter: grayscale(0);
}

.footer {
    width: 100%;
    padding: 1rem 0;
    background-color: #FFF4E7;
    text-align: center;
 }

 /* ---------- media query for responsive mobile device -------- */
@media only screen and (max-width: 640px){
    .row{
        text-align: center;
    }
   
    .co1-1, .col-2, .col-3, .col-4{
        flex-basis: 100%;
        margin: 0;
    }
    .col-1{
        /* border: 2px solid red; */
        padding-left: 0;
    }
    .banner-row{
        margin-top: 3rem;
    }
    .features, .some-fact, .sponser-brand{
        margin: 3rem 0 1rem;
    }
    .features-img-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 0;
    }
    .features-info{
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.5rem;
    /* border: 1px solid red; */
    margin: 2rem 0 1.5rem;
    }
    .row .col-2, .fact-title{
        padding: 0;
    }
    .fancy-title{
        padding-left: .7rem;
    }
    .exp{
        position: static;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 2rem auto 0;
        padding: 1rem 2rem;
    }
    .exp h2{
        font-size: 2rem;
    }
    .brnad-logos{
       grid-template-columns: repeat(3, 1fr);
       gap: .5rem;
       padding: 1rem;
    }
    .brnad-logos img{
        display: inline;
       width: 100%;
    }
    .ctn{
        padding-top: 5rem;
        width: 100%;
        border-radius: 15px;
        text-align: center;
    }
    .ctn h1{
        font-size: 3rem;
    }
    .footer{
        padding: 1rem 3rem;
    }
}